.main {
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main:hover {
  background-color: #022a545d;
  color: white;

}

.active,
.main:active {
  background-color: #022954;
  color: white;
}