body {
  height: 100vh;
}

.flex {
  display: flex;
  gap: 1em;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
}

.btn {
  border-radius: 12px;
  padding: 10px;
  margin-top: 50px;
  cursor: pointer;
  border: 1px solid black;
}

.btn:active {
  transform: translateY(-2px);
}

.error {
  margin-top: 20px;
  color: red;
}